Repository heyns1000/buildnest: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier-check

.pre-commit-config.yaml:

# BuildNest Queen Bee Pre-Commit Hooks
# Atomic, independent security checks for distributed deployment

repos:
  # Hook-01: Secret Scanning
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks
        name: "[Hook-01] Secret Scan"
        exclude: '(?x)^(vendor/|node_modules/|dist/|.*_files/)'

  # Hook-02: Bandwidth Guard (Large Files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        name: "[Hook-02] Bandwidth Guard"
        args: ['--maxkb=10000']
        exclude: '(?x)^(vendor/|node_modules/|dist/|.*_files/)'

  # Hook-03: Merge Safety
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
        name: "[Hook-03] Merge Safety"

  # Hook-04: YAML Validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        name: "[Hook-04] YAML Validation"
        exclude: '(?x)^(vendor/|node_modules/|.*_files/)'

  # Hook-05: EOF Normalizer
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        name: "[Hook-05] EOF Normalizer"
        exclude: '(?x)^(vendor/|node_modules/|dist/|.*_files/|.*\.min\..*)'

  # Hook-TS: TypeScript Type Safety (for TypeScript projects)
  - repo: local
    hooks:
      - id: typescript-check
        name: "[Hook-TS] TypeScript Type Safety"
        entry: npm run check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Hook-ES: ESLint Validation (for TypeScript/JavaScript projects)
  - repo: local
    hooks:
      - id: eslint
        name: "[Hook-ES] ESLint Validation"
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Hook-PR: Prettier Format Check
  - repo: local
    hooks:
      - id: prettier-check
        name: "[Hook-PR] Prettier Format Check"
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|md)$
        pass_filenames: false

  # CodeNest: Audit Consolidator (runs last)
  - repo: local
    hooks:
      - id: codenest-audit
        name: "[CodeNest] Audit Consolidator"
        entry: python .github/scripts/codenest_aggregator.py
        language: system
        pass_filenames: false
        always_run: true

feat: add heatmap planning doc
  HEATMAP.md
Due: prettier-check

legal: fix package.json license field and add proprietary LICENSE stub
  LICENSE
  package.json
Due: prettier-check

docs: add MONSTER OMNI™ standalone README — BuildNest as raw material manufacturer
  README.md
Due: prettier-check

assets: add Fruitful™ banner image
  .github/assets/fruitful-banner.png
Due: none

docs: Substack-style README — banner full-width, editorial about-us, clean structure
  README.md
Due: prettier-check

fix: move banner to assets/ — .github/ dir blocked by GitHub Camo proxy
  assets/fruitful-banner.png
Due: none

fix: use absolute raw.githubusercontent.com URL for banner image
  README.md
Due: prettier-check

Add files via upload
  assets/fruitful-banner.png
Due: none

fix: pure Markdown image syntax — simpler, no HTML parsing quirks
  README.md
Due: prettier-check

legal(license): upgrade to FPSL v1.0 — Fruitful Proprietary Source License
  LICENSE
Due: none

Met die linkerhand (#19)
  .base44/environment.json
  AGENTS.md
  __pycache__/main.cpython-312.pyc
  attached_assets/baobab_terminal_1756061197024.html
  attached_assets/complete_faa_zone_console.html
  client/public/boli/boli-logo.png
  client/public/boli/fruitful-portal.mp4
  client/src/App.tsx
  client/src/pages/boli.tsx
  docker-compose.base44.yml
  main.py
  package-lock.json
  package.json
  server/db.ts
  server/index.ts
  shared/terminals.json
  tsconfig.json
Due: typescript-check, eslint, prettier-check

feat(catalogue): integrate Under R50 catalogue, GlobalPortalone chat, and Seedwave Atlas (#23)
  .base44/environment.json
  AGENTS.md
  __pycache__/main.cpython-312.pyc
  client/src/App.tsx
  client/src/components/AppNavigation.tsx
  client/src/pages/global-gary-chat.tsx
  client/src/pages/seedwave-atlas.tsx
  client/src/pages/under-r50-catalogue.tsx
  docker-compose.base44.yml
  package-lock.json
  package.json
  server/index.ts
  server/qs-command-center-routes.ts
  server/qs-telemetry.ts
  server/routes.ts
  tests/qs-command-center.test.ts
Due: typescript-check, eslint, prettier-check
